@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 112px);
  overflow-y: auto;
}

.header {
  background-color: #ea5c2b;
  height: 56px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backColor {
  background-color: white;
}

.tableScroll {
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

tbody tr:hover {
  background-color: lightgray;
}

h2#swal2-title,
div#swal2-html-container,
div#swal2-html-container > * {
  font-family: "GmarketSansMedium";
}

div.swal-my-custom {
  margin: 0 auto;
  padding: 4px 12px;
  width: max-content;
  background-color: #fef7ed;
  color: #ea5c2b;
  border: 2px solid #ea5c2b;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

div.swal-my-custom > a {
  text-decoration: none;
  font-size: 24px;
  color: inherit;
}

div.swal-my-custom:hover {
  background-color: #ea5c2b;
  color: #fef7ed;
}
